---
import BaseLayout from "../layouts/BaseLayout.astro";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import ServicesVibe from "../components/ServicesVibe.astro";
import Gallery from "../components/Gallery.astro";
import Events from "../components/Events.astro";
import PrivateParties from "../components/PrivateParties.astro";
import ReservationContact from "../components/ReservationContact.astro";
import Footer from "../components/Footer.astro";
---

<BaseLayout>
	<Header />
	<main>
		<Hero />
		<ServicesVibe />
		<Gallery />
		<Events />
		<PrivateParties />
		<ReservationContact />
	</main>
	<Footer />
</BaseLayout>
